$HEADER-COLOR: #39AECF
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap')
body
  min-height: 100vh 
  background: rgb(255,255,255)
  background: linear-gradient(211deg, rgba(255,255,255,1) 19%, rgba(0,212,255,0.3897934173669467) 86%)
header
  position: fixed
  width: 100%
  display: flex
  justify-content: end
  box-shadow: 0 0 10px rgba(0,0,0,.09)
  background: #ffffff
  z-index: 200
  padding: 10px 0 10px 0

.header-wrapper
  display: flex
  margin-right: 80px

  .link
    display: flex
    align-items: center
    margin: auto 10px auto 10px
  a
    display: flex
    justify-content: center
    align-items: center
    height: 45px
    width: 120px
    text-decoration: none
    color: #000000
    font-family: 'PT Sans', sans-serif
    font-size: 20px
    transition: 0.25s
  a:hover
    background: #6764ff
    border: 1px solid white
    color: #ffffff
    box-shadow: none
    transition: 0.25s

main

  .main-wrapper
