<script lang="ts"></script>

<template>
  <div class="header-wrapper">
    <div class="link">
      <a href="#about-me">About Me</a>
    </div>
    <div class="link">
      <a href="#portfolio">Portfolio</a>
    </div>
    <div class="link">
      <a href="#contact-me">Contact</a>
    </div>
  </div>
</template>

<style></style>
